* {
    box-sizing: border-box;
  }

  html,body{
    width: 100vw;
    height: 100vh;
  }

  #root{
    height: 100%;
    width: 100%;
  }
  body,h1{
    margin:0;
  }

  .container-body{
    background-color: #70B85D;
    color: white;
    padding: 20px;
    font-size: 1.3rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
  }

  [class$="-main"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(155, 147, 147);
    border-radius: 25px;
    padding: 5px;
    overflow: hidden;
    width: 300px;
    height: 350px;
    margin: 5px;
}
