.LearnForm-main {
    background-color: rgb(196, 82, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: black;
    height: 550px;
    width : 350px;
  }

  .LearnForm-main h1{
    margin-left: 70px;
    margin-bottom : 5px;
    margin-top : 5px;
  }

  .forminput button{
    background-color: transparent;
    padding: 5px;
    color: rgb(34, 8, 209);
    border: 2px solid rgb(34, 8, 209);
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 70px;
    width: 50%;
  }

  .forminput  button:hover {
    background-color: #FFFEF1;
    color: #2C5E2E;
  }
  
  .forminput input{
    border-radius: 20px;
    padding : 5px;
    width: 70%;
    font-size: 1rem;
  }

  .forminput{
    display: flex;
    flex-direction: column;
  }
  #textarealbl,#passwordlbl,#selectlbl{
    margin-top: 10px;
  }

  fieldset{
    display:flex;
    margin-top:10px;
    border-radius: 25px;
  }

  select{
    width: 70%;
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px;
  }

  textarea{
    border-radius: 15px;
    padding: 5px;
  }
